<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Proxy Central Administration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script type='text/javascript' src='/webjars/jquery/jquery.min.js'
          th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'
          th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <style type="text/css">
    body {
      margin-top: 100px;
    }
  </style>
</head>

<div th:replace="admin/header::header">&nbsp;</div>

<body>

<div class="container">
</div>

</body>


<div th:replace="admin/footer::footer">&nbsp;</div>


</html>




